[submodule "camrod_platform/external/ugv_sdk"]
	path = camrod_platform/external/ugv_sdk
	url = https://github.com/agilexrobotics/ugv_sdk.git
[submodule "camrod_platform/external/ranger_ros2"]
	path = camrod_platform/external/ranger_ros2
	url = https://github.com/agilexrobotics/ranger_ros2.git
[submodule "camrod_parking/external/opennav_docking"]
	path = camrod_parking/external/opennav_docking
	url = https://github.com/open-navigation/opennav_docking.git
[submodule "camrod_parking/external/apriltag_ros"]
	path = camrod_parking/external/apriltag_ros
	url = https://github.com/christianrauch/apriltag_ros.git
[submodule "camrod_parking/external/apriltag_msgs"]
	path = camrod_parking/external/apriltag_msgs
	url = https://github.com/christianrauch/apriltag_msgs.git
